@font-face {
    font-family: 'Gilroy Bold';
    src: url('/fonts/Gilroy-Bold.eot');
    src: url('/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Bold.woff') format('woff'),
    url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy Semibold';
    src: url('/fonts/Gilroy-SemiBold.eot');
    src: url('/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy Medium';
    src: url('/fonts/Gilroy-Medium.eot');
    src: url('/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Medium.woff') format('woff'),
    url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy Regular';
    src: url('/fonts/Gilroy-Regular.eot');
    src: url('/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Gilroy-Regular.woff') format('woff'),
    url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #182949;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header {
    margin: 33px 100px 131px 100px;
    max-width: 1700px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    font-family: 'Gilroy Medium', serif;
    font-size: 20px;
}

.menu-item:not(:last-child) {
    padding-right: 50px;
}

.phone {
    font-family: 'Gilroy Semibold', serif;
    font-size: 25px;
    line-height: 30px;
}

.img_row {
    display: flex;
}

.leafs {
    align-self: flex-end;
}

.leafs:last-child {
    transform: scaleX(-1);
    align-self: flex-start;
}

.main-image {
    align-self: center;
}

.levels {
    margin: 350px 200px 0 0px;
}

.levels .level-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 320px 0 350px;
}

.title {
    font-family: 'Phenomena', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
}

.main-title {
    max-width: 330px;
}

.title-info {
    max-width: 390px;
    font-family: 'Gilroy Medium', serif;
    font-size: 20px;
    line-height: 24px;
    opacity: .6;
}

.level-info {
    display: flex;
    color: #fff;
    margin: 0 0 280px 0;
}

.newbie {
    display: flex;
    justify-content: space-between;
    background: #5FA494;
}

.newbie-block {
    flex: 0 1 50%;
    align-self: flex-end;
    padding-left: 300px;
    padding-bottom: 70px;
    background: url(/img/bg_chains.svg) no-repeat 0 0;
}

.newbie-title {
    font-family: 'Gilroy Regular', serif;
    font-size: 35px;
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
    flex: 0 1 50%;
}

.newbie-info {
    margin: 132px 167px 144px 0;
    flex: 0 1 50%;
    box-shadow: 0 0 5px -2px #5FA494,
                0 50px 0px 0px rgba(95, 164, 148, 0);
}

.newbie-text {
    font-family: 'Gilroy Medium', serif;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 87px;
}

.newbie-join {
    border: 2px solid #fff;
    border-radius: 100px;
    font-family: 'Gilroy Medium', serif;
    font-size: 25px;
    padding: 13px 48px 16px;
}

.level-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E6BE80;
    font-family: 'Gilroy Bold', serif;
    font-size: 22px;
    writing-mode: vertical-rl;
    padding: 70px;
}

.arrow {
    width: 57px; 
    height: 57px;
}

.tab-text {
    transform: scale(-1, -1);
}

.level-tab:last-child {
    background: #F08365;
}

.coach {
    max-width: 1300px;
    margin: 0 auto;
}

.coach-row {
    display: flex;
    justify-content: space-between;
}

.coach-img {
    display: block;
}

.arrows {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.coach-arrow:not(:last-child) {
    transform: scaleX(-1);
    opacity: 0.5;
    padding-left: 20px; 
}

.coach-numbers {
    display: flex;
    align-items: center;

}

.number {
    font-family: 'Phenomena', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 134px;
    margin: 0;
}

.coach-count {
    font-family: 'Phenomena', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 94%;
    max-width: 200px;
    padding-left: 13px;
}

.coach-data {
    max-width: 550px;
    margin-bottom: 45px;
}

.coach-name {
    font-family: 'Gilroy Bold', serif;
    font-size: 70px;
    line-height: 85px;
    margin: 0;
}

.coach-hr {
    opacity: 0.3;
    border: 2px solid #182949;
    margin: 23px 0 34px;
}

.coach-info p {
    font-family: 'Gilroy Medium', serif;
    font-size: 16px;
    line-height: 19px;
}

.yoga-links {
    font-family: 'Gilroy Bold', serif;
    font-size: 20px;
    line-height: 130%;
}

.yoga-link {
    background: rgba(24, 41, 73, 0.1);
    padding: 15px 22px 12px 21px;
    border-radius: 13px 20px 20px 13px;
    border-style: solid;
    border-width: 0 0 0 21px;
    border-image: url('/img/pill_orange.png') 0 0 0 21;
}

.yoga-link:last-child {
    border-image: url('/img/pill_green.png') 0 0 0 21;
    margin-left: 42px;
}

.types {
    max-width: 1260px;
    margin: 390px auto;
}

.yoga-types {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.yoga-items {
    font-family: "Gilroy Semibold", serif;
    font-size: 25px;
    line-height: 30px;
    color: #FFF;
    border-radius: 19px;
    padding: 35px;
    margin-bottom: 40px;
    flex: 1;
}

.type-first {
    background: url('/img/type-first.png') no-repeat bottom right,
                 #E6BE80;
    flex: 0 1 70%; 
    padding: 56px 0 140px 60px;
 }

 .type-first h2 {
    margin: 0;
 }

 .type-first p {
    font-family: 'Gilroy Medium', serif;
    font-size: 20px;
    max-width: 430px;
 }

.type-second {
    background: url('/img/type-second.png') no-repeat;
}

.type-third {
    background: url('/img/type-third.png') no-repeat;
}

.type-fourth {
    background: url('/img/type-fourth.png') no-repeat;
}

.type-fifth {
    background: url('/img/type-fifth.png') no-repeat;
}

.type-sixth {
    background: url('/img/type-sixth.png') no-repeat;
}
